/* Google Fonts */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

/* General */
body{
    font-family: sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#D7DCDD, #D3F1F7);
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    background-color: #373636;
    align-items: center;
    padding: 5px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

a{
    text-decoration: none;
    color: #d4d2d5;
}

nav a{
    font-size: 20px;
    font-weight: 600;
    padding-right: 10px;
}
.logo{
    display: flex;
    align-items: center;
    color: #d4d2d5;
    font-weight: 600;
    font-size: 20px;
}

.logo h2{
    padding-left: 10px;
    letter-spacing: 1.6;
}
nav a:hover{
    color: #3498db;
}

@media (max-width: 850px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 20px 0px;
    }
}
/* Main */
main{
    /* display: flex; */
    justify-content: center;
    min-height: 80px;
    align-items: center;
    text-align: center;
    padding-top: 10rem;
    height: auto;
}


.code-lng, .frameworks, .data-base{
    text-align: center;
}
/* .container */
.container{
    width: 100%;
    max-width: 1200px;
    /* height: 430px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    text-align: center;
    position: static;
}

.container .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 30px;
    text-align: center;
    transition: all 0.25s;
    background-color: #E5E9EA;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 330px;
    height: 220px;
}


.container .card h4{
    font-weight: 600;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

@media (max-width: 850px){
    .container{
        flex-wrap: wrap;
    }
}
/* Footer */

footer{
    background-color: #373636;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.contact h2{
    color: #d4d2d5;
    text-align: left;
}

.contact-link img{
    width: 120px;
    height: 60px;
    background-color: #d4d2d5;
    border-radius: 10px;
}